@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --primary-white: #fff;
  --secondary-white: #ebebff;
  --primary-light: #6070ff;
  --primary-dark: #172b4d;
  --secondary-dark: #344563;
  --secondary-light: #7f8cff;
  --primary-gray: #7a869a;
  --light-blue: #ebebff;
  --dark-blue: #396df2;
  --dark: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f7f7f9;
}

h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-dark);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  margin-top: 20px;
  padding: 12px;
  background: #fff;
  border: 1px solid var(--primary-light);
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--dark-blue);
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-light);
  color: var(--primary-white);
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--primary-dark);
}

.call-to-action {
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 16px 0;
  text-align: center;
  color: var(--secondary-light);
  font-weight: 500;
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 24px;
}

.container {
  margin: 0 24px;
}

.section-margin-t {
  margin-top: 100px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 48px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  color: var(--primary-light);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.hero-wrapper {
  height: 100vh;
  background-image: url(assets/svgs/header-background-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  height: 100%;
  padding: 0 24px;
  background-image: url(assets/svgs/header-shapes\ mobile.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero-container h1 {
  padding-top: 60%;
}

.social {
  display: flex;
  gap: 16px;
}

.projects-wrapper {
  display: grid;
}

.project-container {
  padding: 16px 16px 25px 16px;
  background-color: var(--primary-white);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project-snapshot {
  width: 100%;
  height: 42%;
  display: block;
}

.project-snapshot img {
  width: 100%;
  height: 100%;
}

.project-container h2 {
  color: var(--primary-dark);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
}

.project-details {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-details .client-name {
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.project-details .role,
.yearlb {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-gray);
}

.project-container p {
  font-size: 20px;
  line-height: 28px;
}

.technologies-used {
  display: flex;
  gap: 8px;
}

.about-wrapper {
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url(assets/svgs/about-bg.svg);
  background-size: cover;
}

.technologies-used li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: lowercase;
  color: var(--primary-light);
  padding: 4px 12px;
  background-color: var(--light-blue);
  border-radius: 8px;
}

.tools-title {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark);
  text-transform: capitalize;
}

.b-bottom {
  border-bottom: #dfe1e6 1px solid;
}

.lang-list li {
  display: flex;
  align-items: center;
  padding: 9px;
  gap: 16px;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 10px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.contact-wrapper {
  margin-top: -100px;
  padding-bottom: 50px;
  background-image: url('assets/svgs/contact-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.contact-container {
  padding: 103px 24px 0 24px;
  background-image: url('assets/svgs/contact-form-shapes-mobile.svg');
  background-size: 65% 99%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 15px;
  z-index: -1;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-container .intro-text {
  text-align: center;
  color: var(--primary-white);
}

.contact-container p {
  text-align: center;
  color: var(--secondary-white);
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 30px;
}

.contact-container input,
textarea {
  width: 100%;
  background-color: var(--primary-white);
  margin-bottom: 20px;
  border-radius: 8px;
  border-color: transparent;
  color: var(--dark);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-container input {
  font-size: 17px;
  line-height: 20px;
}

.contact-container textarea {
  height: 170px;
  font-size: 15px;
  line-height: 24px;
}

.contact-container button {
  margin-top: 0;
}
